@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

img {
    max-width: 100%;
    vertical-align: top;
}

body {
    color: #333;
    background-color: #fff;
}

.wrap {
    width: 100%;
    height: 100vh;
    position: relative;
}

.top {
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
}

header {
    width: 200px;
}


header>a {
    width: 200px;
    margin: 30px 0;
}

nav {
    width: 100%;
    position: relative;
}

nav>ul {}

nav>ul>li {
    width: 100%;
    text-align: center;
}

nav>ul>li>a {
    width: 100%;
    height: 50px;
    background-color: #048462;
    color: #fff;
    align-content: center;
    border-bottom: 1px solid #fff;
    font-weight: bold;
    font-size: 18px;

}

nav>ul>li>a.on,
nav>ul>li:hover>a {
    background-color: #a6d6c9;
    color: #048462;
}

.sub {
    position: absolute;
    top: 0;
    right: -200px;
    z-index: 9;
    display: none;

}


.sub>li {
    width: 200px;
}

.sub>li>a {
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0, 0.5);
    align-content: center;
    color: #fff;
}

.sub>li>a.on,
.sub>li:hover>a {
    background-color: rgb(0, 0, 0, 1);
    color: #048462;
}

.spot {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.spot>a {
    display: inline-block;
    padding: 0 10px;
}

.spot>a:hover {
    color: #dadada;
}

.spot>a:first-of-type {
    border-right: 1px solid #333;
}

main {
    width: 400px;
}

.banner {
    width: 100%;
    height: 150px;
}

.banner>a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.banner .b_text {
    text-align: center;
}


.banner .b_text>h3 {
    padding-bottom: 5px;
    color: #048462;
}

.banner .b_text>p {
    background-color: #048462;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
}

.banner>a:hover .b_text>p {
    background-color: #dadada;

}


main h4 {
    display: inline-block;
    background-color: #a6d6c9;
    width: 100px;
    text-align: center;
    color: #048462;
    padding: 10px 0;
    border-radius: 10px 10px 0 0;
    font-size: 18px;
}

.notice {
    width: 100%;
    height: calc(55% - 150px);
    padding: 0 15px;
    overflow: hidden;

}

.notice>a {
    width: 100%;
}

.notice>a>h4 {}

.notice>ul {
    padding: 10px 10px 0;
}

.notice>ul>li {
    margin: 3px 0;
    padding: 5px 0;
}

.notice>ul>li>a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    border-bottom: 1px solid #333;
}

.notice>ul>li:hover>a {
    color: #048462;
    border-bottom: 1px solid #048462;
}

.gall {
    width: 100%;
    height: 45%;
    padding: 0 15px;
    overflow: hidden;
}

.gall>a {}

.gall>ul {
    padding: 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.gall>ul>li {}

.gall>ul>li>a {
    width: 100%;
    opacity: 0.7;
}

.gall>ul>li:hover>a {
    opacity: 1;

}

.gall>ul>li>a>img {
    width: 200px;
    height: 130px;
    object-fit: cover;
}

.slide {
    width: calc(100% - 600px);
    position: relative;
    overflow: hidden;
}

.slide>ul {
    width: 100%;
    height: 300%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.slide>ul>li {
    width: 100%;
    height: calc(100% / 3);
    text-align: center;
    align-content: center;
}

.slide>ul>li>a {
    width: 100%;
    height: 100%;
    align-content: center;
}

.slide .s_text {
    display: inline-block;
    width: 250px;
    height: 250px;
    align-content: center;
    background-color: rgb(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 50%;

}

.slide .s_text>h2 {}

.slide .s_text>p {
    font-size: 20px;
    margin-top: 5px;
}

.slide .s1 {
    background: url(/images/img1.jpg) no-repeat center/cover;
}

.slide .s2 {
    background: url(/images/img2.jpg) no-repeat center/cover;

}

.slide .s3 {
    background: url(/images/img3.jpg) no-repeat center/cover;

}


footer {
    width: 100%;
    height: 100px;
    background-color: #dadada;
    display: flex;
    align-items: center;
}

footer>a {
    width: 200px;
    height: 100%;
    align-content: center;

}

footer .f_inner {
    width: calc(100% - 200px);
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    padding-right: 20px;
}

footer .f_inner .copy {}

footer .f_inner .sns {
    width: 200px;
}

footer .f_inner .sns>ul {
    display: flex;
    gap: 5px;
}

footer .f_inner .sns>ul>li {}

footer .f_inner .sns>ul>li>a {}

.pop {
    width: 40%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    text-align: center;
    padding: 40px;
    z-index: 999;
    border-radius: 10px;
    border: 1px solid #048462;
    display: none;
}

.pop>h2 {}

.pop>p {
    margin-top: 20px;
    line-height: 25px;
}

.pop .pop_off {
    cursor: pointer;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.pop .pop_off:hover {
    color: #dadada;
}